{%- liquid
    assign show_dynamic_checkout = block.settings.show_dynamic_checkout
    assign atc_animation = block.settings.atc_animation
    assign atc_color = block.settings.atc_color
    assign atc_border_color = block.settings.atc_border_color
    assign atc_bg_color = block.settings.atc_bg_color
    assign atc_bg_color_gradient = block.settings.atc_bg_color_gradient
    assign atc_color_hover = block.settings.atc_color_hover
    assign atc_border_color_hover = block.settings.atc_border_color_hover
    assign atc_bg_color_hover = block.settings.atc_bg_color_hover
    assign atc_bg_color_gradient_hover = block.settings.atc_bg_color_gradient_hover
    assign bin_color = block.settings.bin_color
    assign bin_border_color = block.settings.bin_border_color
    assign bin_bg_color = block.settings.bin_bg_color
    assign bin_bg_color_gradient = block.settings.bin_bg_color_gradient
    assign bin_color_hover = block.settings.bin_color_hover
    assign bin_border_color_hover = block.settings.bin_border_color_hover
    assign bin_bg_color_hover = block.settings.bin_bg_color_hover
    assign bin_bg_color_hover_gradient = block.settings.bin_bg_color_hover_gradient
    assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif
-%}
<div class="productView-buttons">
    {%- if gift_card_recipient_feature_active -%}
      {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
    {%- endif -%}

    {%- assign product_form_installment_id = 'product-form-installment-' | append: product.id -%}
    {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
        <input type="hidden" name="id" value="{{ current_variant.id }}">
        {{ form | payment_terms }}
    {%- endform -%}
    {%- assign product_form_id = 'product-form-' | append: product.id -%}
    <product-form class="productView-form product-form">
        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            {% render 'quantity-hs' %}
            <div class="productView-group">
                {%- if check_show_qty == 'show_qty_2' -%}
                    {%- if show_subtotal_text and subtotal_style == '1' -%}
                        <div class="productView-subtotal">
                            <span class="text">{{ 'sections.cart.subtotal' | t | append: ': ' }}</span>
                            <span class="money-subtotal">{{ subtotal }}</span>
                        </div>
                    {%- endif -%}
                {%- endif -%}

                <div class="pvGroup-row">
                    {% comment %}
                    {%- if check_show_qty == 'show_qty_1' or check_show_qty == 'show_qty_2' -%}
                        {%- liquid
                            if check_show_qty == 'show_qty_1'
                                assign check_hidden = true
                            endif
                        -%}
                        {% render 'product-quantity', current_variant: current_variant, check_hidden: check_hidden, qty_style: qty_style, quantity_stt: 1 %}
                    {%- endif -%}
                    {% endcomment %}
                    <div class="productView-groupTop">
                        <div class="productView-action{% unless settings.show_wishlist %} productView-action-2{% endunless %}" style="--atc-color: {{ atc_color }};--atc-bg-color: {% if atc_bg_color_gradient != blank %}{{ atc_bg_color_gradient }}{% else %}{{ atc_bg_color }}{% endif %};--atc-border-color: {{ atc_border_color }};--atc-color-hover: {{ atc_color_hover }};--atc-bg-color-hover: {% if atc_bg_color_gradient_hover != blank %}{{ atc_bg_color_gradient_hover }}{% else %}{{ atc_bg_color_hover }}{% endif %};--atc-border-color-hover: {{ atc_border_color_hover }}">
                            <input type="hidden" name="id" value="{{ current_variant.id }}">
                            <div class="product-form__buttons">
                                {%- if current_variant.available -%}
                                    {%- if current_variant.inventory_management -%}
                                        {%- assign first_inventory = current_variant.inventory_quantity -%}
                                        {%- liquid
                                           if current_variant.available and first_inventory == 0
                                             assign allowOutStockSale = true 
                                           else
                                             assign allowOutStockSale = false
                                           endif
                                        -%}
                                        <a href="javascript:void(0)" style="opacity: 0" data-btn-addToCart data-inventory-quantity="{{ current_variant.inventory_quantity }}" data-available="{{ allowOutStockSale }}" class="product-form__submit button button--primary an-{{ atc_animation }}{% if first_inventory == 0 %} button-text-change{% else %}{% if show_subtotal_text %} button-text-change{% endif %}{% endif %}" id="product-add-to-cart">
                                            {%- if first_inventory > 0 -%}
                                                {%- if show_subtotal_text and subtotal_style == '2' -%}
                                                    {%- assign subtotal = subtotal | strip_html -%}

                                                    {{ 'products.product.sub_total' | t : value : subtotal }}
                                                {%- else -%}
                                                    {{ 'products.product.add_to_cart' | t}}
                                                {%- endif -%}
                                            {%- else -%}
                                                {{ 'products.product.add_to_cart' | t}}
                                            {%- endif -%}
                                        </a>
                                    {%- else -%}
                                        <button type="submit" name="add" data-btn-addToCart class="product-form__submit button button--secondary an-{{ atc_animation }}{% if show_subtotal_text %} button-text-change{% endif %}" id="product-add-to-cart">
                                            {%- if show_subtotal_text and subtotal_style == '2' -%}
                                                {%- assign subtotal = subtotal | strip_html -%}
                                                {{ 'products.product.sub_total' | t : value : subtotal }}
                                            {%- else -%}
                                                {{ 'products.product.add_to_cart' | t}}
                                            {%- endif -%}
                                        </button>
                                    {%- endif -%}
                                {%- else -%}
                                    <button type="submit" name="add" data-btn-addToCart class="product-form__submit button" id="product-add-to-cart" disabled>{{ 'products.product.sold_out' | t }}</button>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- if settings.show_wishlist -%}
                            <div class="productView-wishlist clearfix">
                                <a data-wishlist href="#" data-wishlist-handle="{{ product.handle }}" data-product-id="{{ product.id }}"><span class="visually-hidden">{{ 'wishlist.general.add' | t }}</span>{% render 'icon-heart' %}</a>
                            </div>
                        {%- endif -%}
                        {%- if check_show_share == '2' -%}
                            {% render 'halo-share', product: product, share_layout: check_show_share %}
                        {%- endif -%}
                    </div>
                </div>
                {%- if show_dynamic_checkout -%}
                    <div class="productView-groupBottom">
                        {%- if settings.show_global_checkbox -%}
                            <div class="productView-groupItem">
                                {%- if settings.show_global_checkbox -%}
                                    <div class="productView-checkbox global-checkbox">
                                        <input class="global-checkbox--input" type="checkbox" name="conditions" id="product_conditions_{{ product.id }}" data-target="#product-checkout-{{ product.id }}">
                                        <label class="global-checkbox--label form-label--checkbox" for="product_conditions_{{ product.id }}">{{ settings.global_checkbox_text }}</label>
                                        {%- if settings.global_checkbox_link_text != blank -%}
                                            <button type="button" data-term-condition>{{ settings.global_checkbox_link_text | escape }}</button>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                        <div class="productView-groupItem">
                            <div class="productView-payment" {% if settings.show_global_checkbox %} disabled="disabled"{% endif %} id="product-checkout-{{ product.id }}" style="--bin-color: {{ bin_color }};--bin-bg-color: {% if bin_bg_color_gradient != blank %}{{ bin_bg_color_gradient }}{% else %}{{ bin_bg_color }}{% endif %};--bin-border-color: {{ bin_border_color }};--bin-color-hover: {{ bin_color_hover }};--bin-bg-color-hover: {% if bin_bg_color_hover_gradient != blank %}{{ bin_bg_color_hover_gradient }}{% else %}{{ bin_bg_color_hover }}{% endif %};--bin-border-color-hover: {{ bin_border_color_hover }}"> 
                                {{ form | payment_button }}
                            </div>
                        </div>
                    </div>
                {%- endif -%}
            </div>
            {% if settings.ativar_cashback %}
              <style>
                .cashback-product {
                  padding: 10px 0;
                  text-align: center;
                  font-weight: 500;
                }

                @media (max-width: 1024px){
                  .cashback-product b {
                    color: #00b45a;
                  }
                }
                
                .cashback-product svg {
                  width: 22px;
                  height: auto;
                  stroke: none;
                }
              </style>
              <div class="cashback-product"><svg xmlns="http://www.w3.org/2000/svg" width="23.571" height="27.344" viewBox="0 0 23.571 27.344"> <g id="icone_cashback" transform="translate(2585.571 -5520.078)"> <path id="Icon_metro-money" data-name="Icon metro-money" d="M14.384,11.751c-1.53-.4-2.022-.805-2.022-1.446,0-.735.677-1.25,1.82-1.25,1.2,0,1.644.573,1.685,1.415h1.489A2.683,2.683,0,0,0,15.193,7.9V6.427H13.171V7.883a2.63,2.63,0,0,0-2.359,2.433c0,1.557,1.291,2.332,3.168,2.783,1.688.4,2.022.994,2.022,1.628,0,.462-.327,1.2-1.82,1.2-1.388,0-1.938-.623-2.008-1.415H10.688A2.83,2.83,0,0,0,13.171,17.1v1.462h2.022V17.109c1.311-.253,2.359-1.011,2.359-2.4,0-1.907-1.638-2.561-3.168-2.962Z" transform="translate(-2586.12 5517.654)" fill="#00b45a"/> <path id="Icon_ionic-ios-return-left" data-name="Icon ionic-ios-return-left" d="M4.825,16.4l2.983-2.973a.7.7,0,0,1,.5-.205.684.684,0,0,1,.5.205.7.7,0,0,1,0,.991l-.005.005L6.737,16.434H19.815a2.489,2.489,0,0,0,1.767-.736,2.463,2.463,0,0,0,.736-1.767v-2.4a.7.7,0,0,1,1.4,0v2.4a3.913,3.913,0,0,1-3.9,3.9H6.717L8.7,19.847a.7.7,0,0,1,.205.5.684.684,0,0,1-.205.5l-.005.005a.724.724,0,0,1-.49.2.668.668,0,0,1-.5-.205L4.825,17.96a1.106,1.106,0,0,1-.325-.786A1.071,1.071,0,0,1,4.825,16.4Z" transform="translate(-2590.071 5526.384)" fill="#00b45a"/> <g id="Elipse_129" data-name="Elipse 129" transform="translate(-2582 5520.078)" fill="none" stroke="#00b45a" stroke-width="1.5"> <circle cx="10" cy="10" r="10" stroke="none"/> <circle cx="10" cy="10" r="9.25" fill="none"/> </g> </g> </svg> Essa compra irá gerar <b>Cashback de {{ settings.valor_cashback | divided_by: 100.0 | times: product.selected_or_first_available_variant.price | money }}</b></div>
            {% endif %}
        {%- endform -%}
    </product-form>
    {%- if settings.show_notify_form -%}
        <div class="productView-notifyMe halo-notifyMe" {% if product.variants.size > 1 %}style="display: none;"{% else %}{% if product.available %}style="display: none;"{% endif %}{% endif %}>
            {% render 'halo-notify-sold-out', id: product.id, current_variant: current_variant %}
        </div>
    {%- endif -%}
</div>

<script>
  $(document).ready(function(){
    $('[data-btn-addToCart]').attr('style', 'opacity: 1')
  })
</script>