<style>
  .product-card-item {
    border-radius: 36px;
    display: flex;
    flex-direction: column;
  }

  .product-item-body {
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }

  .product-item-body .product-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .product-item-body .product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
    margin-top: auto;
  }

  .product-item-body .cta-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .product-item-body .product-title {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
  }

  .product-item-body .product-subtitle {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
  }

  .product-item-body .product-description p {
    font-size: 12px;
    margin: 8px 0 0;
    line-height: normal;
    color: #231F20;
  }

  .product-card-item .product-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .product-card-item  .product-header img {
    object-fit: contain;
    width: 100%;
  }

  .cta-container {
    gap: 12px;
  }

  .cta-container .quantity-container input {
    width: 100%;
    max-width: 100px;
  }

  .cta-container .btn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 16px 44px;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 24px;
    min-width: auto;
    height: auto;
  }

  new.font-3 {
    color: #000;
    font-size: 19px;
    font-weight: bold;
  }

  old.custom-font {
    font-weight: 400;
    text-decoration: line-through;
    font-size: 13px;
    margin-bottom: 3px;
    color: #5A5A5A;
  }

  .portion-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #02B456;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 9999px;
  }

  svg.portion-icon {
    color: #fff;
    width: 28px;
    height: auto;
  }

  .portion-text-container {
    color: #231F20;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    line-height: normal;
  }

  .portion-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .portion-value {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
  }

  .portion-value b {
    color: #02B456;
  }

  .tabela-nutricional a {
    text-decoration: underline;
    font-size: 10px;
  }

  .tabela-nutricional a svg path {
    stroke: #00814e;
  }

  .product-card-item .modal-button {
    cursor: pointer;
    width: fit-content;
  }

  .product-card-item .modal-button svg {
    width: 125px;
    height: auto;
  }

  .cupom {
    color: #F6475A;
    font-size: 10px;
    text-align: center;
  }

  .cupom u {
    font-weight: bold;
    text-transform: uppercase;
  }

  .quantity-container input {
    color: #8355A7;
    font-size: 25px;
    font-weight: bold;
    border: 0;
    background: #fff;
  }

  .previewCartItem-qty .btn-quantity:before {
    height: 2px!important;
    background: #8355A7!important;
  }

  .previewCartItem-qty .btn-quantity {
    margin: 0 8px;
    padding: 0;
  }

  .previewCartItem-qty .btn-quantity.plus:after {
    height: 2px!important;
    background: #8355A7!important;
  }

  .product-card-item .product-infos {
    display: flex;
    gap: 8px;
    padding: 0 20px;
  }

  .product-card-item .product-infos svg {
    width: auto;
    height: auto;
    stroke-width: 0.1;
  }

  .product-card-item .product-infos .infos {
    display: flex;
    gap: 2px;
    color: #949494;
    font-size: 6px;
    align-items: center;
  }

  .product-card-item .product-infos span {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
  }
</style>
{% assign product = block.settings.product %}
{% assign image = block.settings.image %}
<div
  class="product-card-item {% unless product.available %}kit-esgotado{% endunless %}"
  style="background-color: {{ block.settings.color }}"
>
  <div class="product-header">
    <a href="{{ product.url }}" alt="Product Image">
      {% if block.settings.show_product_image %}
        <img
          loading="lazy"
          width="100%"
          height="100%"
          src="{{ product.featured_media | image_url: width: product.featured_media.width }}"
        >
      {% else %}
        <img loading="lazy" width="100%" height="100%" src="{{ image | image_url: width: image.width }}">
      {% endif %}
    </a>
    {% if block.settings.protein != blank or block.settings.fibers != blank %}
      <div class="product-infos">
        {% if block.settings.protein != blank %}
          <div class="infos font-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.055" height="18.445" viewBox="0 0 21.055 18.445">
              <path d="M316.469,1408.994a19.713,19.713,0,0,1-9.767-2.624,3.277,3.277,0,0,1-1.594-3.382,26.946,26.946,0,0,1,4.8-11.353,2.671,2.671,0,0,1,2.149-1.086,2.643,2.643,0,0,1,.7.094l2.063.568a2.655,2.655,0,0,1,1.815,3.4l-.2.6a2.57,2.57,0,0,1-2.545,1.806h-.009a.921.921,0,0,1-.388-.085c.032.792.106,1.409.169,1.94.016.136.032.268.046.4a.9.9,0,0,1,.179-.08,6.5,6.5,0,0,1,3.8-.059.919.919,0,0,1,.247-.742,5.491,5.491,0,0,1,4.009-1.758,5.874,5.874,0,0,1,3.3,1.041,2.009,2.009,0,0,1,.881,1.665v5.918a2.018,2.018,0,0,1-1.162,1.824A19.965,19.965,0,0,1,316.469,1408.994Zm-4.412-17.207a1.428,1.428,0,0,0-1.15.579,25.7,25.7,0,0,0-4.578,10.828,2.035,2.035,0,0,0,.988,2.1,18.472,18.472,0,0,0,9.152,2.461,18.734,18.734,0,0,0,7.963-1.8.775.775,0,0,0,.446-.7v-5.918a.772.772,0,0,0-.338-.64,4.64,4.64,0,0,0-2.6-.828,4.222,4.222,0,0,0-2.784,1.059,8.456,8.456,0,0,1,1.959,1.328.983.983,0,0,1,.32.7.979.979,0,0,1-1.636.746,5.888,5.888,0,0,0-3.918-1.592,5.282,5.282,0,0,0-1.4.189,4.651,4.651,0,0,1-.42,1.825.978.978,0,1,1-1.782-.807,3.777,3.777,0,0,0,.148-2.3,22.185,22.185,0,0,1-.189-3.423.98.98,0,0,1,.992-.958h.012a.965.965,0,0,1,.679.3l0,0a.976.976,0,0,1,.27.7q0,.057,0,.113a1.292,1.292,0,0,0,1.062-.93l.2-.6a1.416,1.416,0,0,0-.968-1.816l-2.063-.568A1.4,1.4,0,0,0,312.057,1391.788Z" transform="translate(-305.062 -1390.549)" fill="#949494"/>
            </svg>
            <span>{{ block.settings.protein }}</span> PROTEÍNA
          </div>
        {% endif %}
        {% if block.settings.fibers != blank %}
          <div class="infos font-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="23.048"
              height="22.883"
              viewBox="0 0 23.048 22.883"
            >
              <path d="M232.964,160.092c.021-.158-.1-.19-.159-.251a3.7,3.7,0,0,1,.326-5.644.624.624,0,0,1,.864,0,3.7,3.7,0,0,1,.314,5.661c-.06.056-.158.091-.154.239a4.313,4.313,0,0,1,1.069-.68,3.666,3.666,0,0,1,2.529-.133.636.636,0,0,1,.529.758,3.67,3.67,0,0,1-1.456,2.832c-.045.035-.088.071-.131.108,0,0,0,.014,0,.039a3.984,3.984,0,0,1,1.091.18.623.623,0,0,1,.5.707,3.688,3.688,0,0,1-3.739,3.622,1.19,1.19,0,0,1-.195-.007c-.165-.03-.2.039-.2.2.007.708,0,1.416,0,2.124a.66.66,0,0,1-.131.434.565.565,0,0,1-.634.192.575.575,0,0,1-.406-.575c0-.7-.011-1.4,0-2.1,0-.219-.046-.281-.276-.273a3.658,3.658,0,0,1-3.806-3.054,3.514,3.514,0,0,1-.054-.631.584.584,0,0,1,.45-.618,3.855,3.855,0,0,1,1.186-.2,4.591,4.591,0,0,1-.87-.83,3.689,3.689,0,0,1-.768-2.194.611.611,0,0,1,.5-.7,3.649,3.649,0,0,1,3.465.676c.044.035.087.073.148.125m1.638,2.357a2.515,2.515,0,0,0,2.437-1.916c.04-.173.007-.226-.171-.239a2.531,2.531,0,0,0-2.585,1.718c-.144.432-.139.439.319.437m.02,3.906a2.514,2.514,0,0,0,2.415-1.912c.038-.163.023-.229-.165-.243a2.537,2.537,0,0,0-2.581,1.69c-.158.46-.151.468.33.465m-2.129-3.907h.122c.354-.006.361-.016.258-.359a2.539,2.539,0,0,0-2.6-1.8c-.2.013-.219.081-.177.255a2.522,2.522,0,0,0,2.4,1.9m.008,3.906c.049,0,.1,0,.146,0,.317-.008.321-.015.236-.317a2.529,2.529,0,0,0-2.633-1.836c-.156.014-.2.051-.165.222a2.519,2.519,0,0,0,2.415,1.931m1.8-9.256a2.473,2.473,0,0,0-.6-1.58c-.095-.115-.157-.148-.278-.013a2.553,2.553,0,0,0,0,3.292c.114.127.182.115.283-.007a2.559,2.559,0,0,0,.6-1.691m-1.348,6.888c.046-.41-.03-.465-.4-.316l.4.316m1.66-.352c-.515-.039-.515-.039-.431.341l.431-.341" transform="translate(-222.822 -149.968)" fill="#949494" />
              <path d="M0,63.489A10.784,10.784,0,0,1,8.618,52.875a10.529,10.529,0,0,1,5.878.47.589.589,0,0,1-.061,1.156.889.889,0,0,1-.425-.087,9.274,9.274,0,0,0-8.163.787A9.175,9.175,0,0,0,1.27,62.14a9.562,9.562,0,0,0,18.8,3.405,10.423,10.423,0,0,0,.246-2.1.583.583,0,0,1,.841-.559.592.592,0,0,1,.33.58,10.112,10.112,0,0,1-.7,3.742,10.427,10.427,0,0,1-7.882,6.7,10.332,10.332,0,0,1-9.81-2.984A10.369,10.369,0,0,1,.117,64.984,9.251,9.251,0,0,1,0,63.489" transform="translate(0 -51.271)" fill="#949494" />
              <path d="M565.79,7.8c0-.635-.007-1.269,0-1.9,0-.175-.05-.22-.218-.214-.366.013-.732,0-1.1,0a.591.591,0,0,1-.579-.332.581.581,0,0,1,.1-.659q1.723-2.215,3.446-4.43a.6.6,0,0,1,1,0q1.718,2.2,3.43,4.411a.6.6,0,0,1-.493,1.011c-.35-.006-.7.009-1.049-.006-.189-.008-.244.044-.243.239.009,1.237.005,2.473,0,3.71,0,.535-.2.742-.733.743h-2.831c-.526,0-.732-.21-.733-.743q0-.915,0-1.831m4.442-3.285a.959.959,0,0,0-.054-.1c-.708-.912-1.421-1.822-2.122-2.739-.138-.181-.188-.054-.26.039q-1.026,1.319-2.05,2.641c-.032.041-.089.075-.065.159h.554c.516,0,.727.21.727.723,0,1.237,0,2.474,0,3.71,0,.2.036.267.248.259.488-.017.977-.017,1.464,0,.21.007.251-.06.25-.258-.009-1.261-.006-2.522,0-3.784a.594.594,0,0,1,.652-.651c.21,0,.42,0,.664,0" transform="translate(-548.993 0)" fill="#949494" />
            </svg>
            <span class="font-3">{{ block.settings.fibers }}</span> FIBRAS
          </div>
        {% endif %}
        {% if block.settings.ready != blank %}
          <div class="infos font-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              id="Grupo_2441"
              data-name="Grupo 2441"
              width="28"
              height="20"
              viewBox="0 0 50 38.778"
            >
              <path d="M34.452,75.952H14.492a3.989,3.989,0,0,1-3.985-3.985V70.73C2.358,65.823.462,57.034.023,53.4a3.221,3.221,0,0,1,3.2-3.606h42.5a3.221,3.221,0,0,1,3.2,3.606c-.438,3.635-2.335,12.423-10.484,17.331v1.237a3.989,3.989,0,0,1-3.985,3.985M3.222,52.912a.1.1,0,0,0-.079.035.093.093,0,0,0-.025.079c.395,3.273,2.129,11.327,9.691,15.43l.815.442v3.068a.868.868,0,0,0,.867.867h19.96a.868.868,0,0,0,.867-.867V68.9l.815-.442c7.562-4.1,9.3-12.158,9.691-15.43a.094.094,0,0,0-.025-.079.1.1,0,0,0-.079-.035Z" transform="translate(0 -37.175)" fill="#949494"/>
              <path d="M80.159,21.05a8.235,8.235,0,0,0-.141,1.821,6.487,6.487,0,0,1-2.129,4.5A6.71,6.71,0,0,1,73.5,29.5a1.925,1.925,0,0,1-1.353-.444c-.937-.937-.4-3.648,1.687-5.739a6.708,6.708,0,0,1,4.384-2.13l.113,0c.094,0,.188,0,.281,0a8.367,8.367,0,0,0,1.544-.143M99.532,0a1.669,1.669,0,0,0-1.184.49L82.292,16.547a5.2,5.2,0,0,1-3.677,1.528q-.087,0-.175,0-.109,0-.218,0a9.7,9.7,0,0,0-6.589,3.043c-3.269,3.269-4.023,7.812-1.687,10.148A4.912,4.912,0,0,0,73.5,32.617a9.7,9.7,0,0,0,6.59-3.044,9.586,9.586,0,0,0,3.04-6.807,5.2,5.2,0,0,1,1.525-3.852L100.716,2.857A1.674,1.674,0,0,0,99.532,0" transform="translate(-51.206 0)" fill="#949494"/>
            </svg>
            <span class="font-3">{{ block.settings.ready }}</span> PRONTO
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="product-item-body">
    <div class="modal-button" onclick="openModal('modal-{{ product.id }}')">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="229"
        height="48"
        viewBox="0 0 229 48"
        color="#8355a7"
      >
        <defs>
          <style>
            .clip-path {
              clip-path: url(#clip-path);
            }
          </style>
          <clipPath id="clip-path">
            <rect id="Retângulo_925" data-name="Retângulo 925" fill="#cbde59" width="28.242" height="28.241"/>
          </clipPath>
        </defs>
        <g id="Grupo_2443" data-name="Grupo 2443" transform="translate(-11722.929 -3247)">
          <g id="Grupo_2383" data-name="Grupo 2383" transform="translate(11723 3247)">
            <rect id="Retângulo_926" data-name="Retângulo 926" fill="#8355a7" width="229" height="48" rx="17" transform="translate(-0.071 0)"/>
            <path id="BUTTON" color="#fff" fill="#fff" d="M3.835,0a.479.479,0,0,1-.481-.338L.455-8.7.429-8.84a.249.249,0,0,1,.078-.182A.249.249,0,0,1,.689-9.1h.676a.359.359,0,0,1,.351.234L4.251-1.5,6.8-8.866a.369.369,0,0,1,.117-.156A.328.328,0,0,1,7.137-9.1h.676A.271.271,0,0,1,8-9.022a.241.241,0,0,1,.085.182L8.06-8.7,5.148-.338A.47.47,0,0,1,4.68,0Zm6.11,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,9.646-.3V-8.788a.307.307,0,0,1,.085-.227A.291.291,0,0,1,9.945-9.1h5.369a.291.291,0,0,1,.215.084.307.307,0,0,1,.085.227v.494a.3.3,0,0,1-.078.215.286.286,0,0,1-.221.085h-4.42v2.847h4.134a.291.291,0,0,1,.214.084.307.307,0,0,1,.085.228v.481a.291.291,0,0,1-.085.214.291.291,0,0,1-.214.084H10.894v2.951h4.524a.3.3,0,0,1,.221.078.3.3,0,0,1,.078.221V-.3a.291.291,0,0,1-.085.215A.291.291,0,0,1,15.418,0Zm7.878,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,17.524-.3V-8.788a.307.307,0,0,1,.084-.227.291.291,0,0,1,.215-.084H21a3.557,3.557,0,0,1,2.34.7A2.487,2.487,0,0,1,24.18-6.37a2.6,2.6,0,0,1-.488,1.625,2.518,2.518,0,0,1-1.371.884l2,3.458a.324.324,0,0,1,.039.143.241.241,0,0,1-.084.182A.271.271,0,0,1,24.089,0h-.624a.467.467,0,0,1-.306-.091.859.859,0,0,1-.2-.26l-1.885-3.3H18.8V-.3a.28.28,0,0,1-.091.215A.313.313,0,0,1,18.486,0Zm3.12-4.758q1.937,0,1.937-1.625T20.943-8.008H18.8v3.25ZM29.523,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,29.224-.3V-8.8a.291.291,0,0,1,.084-.215.291.291,0,0,1,.215-.084h.689a.291.291,0,0,1,.215.084.291.291,0,0,1,.084.215V-.3a.291.291,0,0,1-.084.215A.291.291,0,0,1,30.212,0Zm3.549,0a.291.291,0,0,1-.214-.084A.291.291,0,0,1,32.773-.3V-8.788a.307.307,0,0,1,.085-.227.291.291,0,0,1,.214-.084h.6a.331.331,0,0,1,.325.182l4.316,6.63v-6.5a.307.307,0,0,1,.084-.227A.291.291,0,0,1,38.61-9.1h.624a.307.307,0,0,1,.228.084.307.307,0,0,1,.084.227V-.312a.313.313,0,0,1-.084.221A.28.28,0,0,1,39.247,0h-.624a.356.356,0,0,1-.312-.182l-4.3-6.565V-.3a.28.28,0,0,1-.091.215A.313.313,0,0,1,33.7,0Zm9.035,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,41.808-.3V-8.788a.307.307,0,0,1,.084-.227.291.291,0,0,1,.215-.084h5.3a.307.307,0,0,1,.228.084.307.307,0,0,1,.084.227v.52a.291.291,0,0,1-.084.215.307.307,0,0,1-.228.084H43.069V-4.94h4.082a.307.307,0,0,1,.228.085.307.307,0,0,1,.084.227v.52a.28.28,0,0,1-.091.214.313.313,0,0,1-.221.085H43.069V-.3a.28.28,0,0,1-.091.215A.313.313,0,0,1,42.757,0Zm10.5.13a3.653,3.653,0,0,1-2.632-.891A3.712,3.712,0,0,1,49-3.445q-.013-.39-.013-1.105T49-5.642a3.677,3.677,0,0,1,1.014-2.672,3.613,3.613,0,0,1,2.6-.917,3.6,3.6,0,0,1,2.587.917,3.677,3.677,0,0,1,1.014,2.672q.026.754.026,1.092t-.026,1.105a3.712,3.712,0,0,1-.981,2.685A3.634,3.634,0,0,1,52.611.13Zm0-1.105A2.188,2.188,0,0,0,54.249-1.6a2.807,2.807,0,0,0,.663-1.911q.026-.78.026-1.04,0-.286-.026-1.04A2.787,2.787,0,0,0,54.243-7.5a2.193,2.193,0,0,0-1.632-.624,2.21,2.21,0,0,0-1.645.624A2.787,2.787,0,0,0,50.3-5.59q-.013.377-.013,1.04T50.3-3.51a2.787,2.787,0,0,0,.67,1.911A2.21,2.21,0,0,0,52.611-.975ZM61.061.13A4.7,4.7,0,0,1,59.2-.208a2.89,2.89,0,0,1-1.2-.891,2.087,2.087,0,0,1-.442-1.189.261.261,0,0,1,.084-.188.275.275,0,0,1,.2-.085H58.5a.339.339,0,0,1,.338.26,1.54,1.54,0,0,0,.669.936,2.664,2.664,0,0,0,1.554.39,2.829,2.829,0,0,0,1.625-.383,1.236,1.236,0,0,0,.546-1.072.98.98,0,0,0-.267-.715,2.266,2.266,0,0,0-.786-.481q-.52-.208-1.56-.52a8.008,8.008,0,0,1-1.612-.611,2.336,2.336,0,0,1-.9-.806,2.253,2.253,0,0,1-.3-1.209,2.177,2.177,0,0,1,.383-1.261,2.549,2.549,0,0,1,1.1-.877A4.162,4.162,0,0,1,61-9.23a3.916,3.916,0,0,1,1.742.358,2.806,2.806,0,0,1,1.1.9,2.093,2.093,0,0,1,.4,1.092.261.261,0,0,1-.071.182.26.26,0,0,1-.2.078h-.689a.312.312,0,0,1-.338-.247,1.291,1.291,0,0,0-.611-.9A2.353,2.353,0,0,0,61-8.125a2.483,2.483,0,0,0-1.391.338,1.125,1.125,0,0,0-.507,1,1.092,1.092,0,0,0,.241.728,1.965,1.965,0,0,0,.735.5,12.59,12.59,0,0,0,1.443.487,9.661,9.661,0,0,1,1.742.617,2.364,2.364,0,0,1,.949.793,2.147,2.147,0,0,1,.312,1.2,2.227,2.227,0,0,1-.936,1.9A4.165,4.165,0,0,1,61.061.13ZM69.706,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,69.407-.3V-8.788a.307.307,0,0,1,.085-.227.291.291,0,0,1,.215-.084h.6a.331.331,0,0,1,.325.182l4.316,6.63v-6.5a.307.307,0,0,1,.085-.227.291.291,0,0,1,.215-.084h.624a.307.307,0,0,1,.228.084.307.307,0,0,1,.084.227V-.312a.313.313,0,0,1-.084.221A.28.28,0,0,1,75.881,0h-.624a.356.356,0,0,1-.312-.182l-4.3-6.565V-.3a.28.28,0,0,1-.091.215A.313.313,0,0,1,70.33,0ZM81.874.13a3.537,3.537,0,0,1-2.594-.9,3.688,3.688,0,0,1-.916-2.737V-8.788a.307.307,0,0,1,.084-.227.291.291,0,0,1,.215-.084h.663a.307.307,0,0,1,.228.084.307.307,0,0,1,.085.227v5.3a2.649,2.649,0,0,0,.585,1.872,2.153,2.153,0,0,0,1.651.624,2.153,2.153,0,0,0,1.651-.624,2.649,2.649,0,0,0,.585-1.872v-5.3a.307.307,0,0,1,.085-.227.291.291,0,0,1,.215-.084h.676a.28.28,0,0,1,.215.091.313.313,0,0,1,.084.221V-3.51a3.688,3.688,0,0,1-.916,2.737A3.537,3.537,0,0,1,81.874.13ZM89.843,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,89.544-.3V-7.943h-2.5a.291.291,0,0,1-.215-.085.291.291,0,0,1-.085-.214v-.546a.313.313,0,0,1,.085-.221.28.28,0,0,1,.215-.091h6.266a.307.307,0,0,1,.228.084.307.307,0,0,1,.085.227v.546a.28.28,0,0,1-.091.214.313.313,0,0,1-.221.085H90.831V-.3a.28.28,0,0,1-.091.215A.313.313,0,0,1,90.519,0Zm5.538,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,95.082-.3V-8.788a.307.307,0,0,1,.085-.227.291.291,0,0,1,.215-.084h3.172a3.557,3.557,0,0,1,2.34.7,2.487,2.487,0,0,1,.845,2.028,2.6,2.6,0,0,1-.488,1.625,2.518,2.518,0,0,1-1.371.884l2,3.458a.324.324,0,0,1,.039.143.241.241,0,0,1-.085.182.271.271,0,0,1-.188.078h-.624a.467.467,0,0,1-.305-.091.859.859,0,0,1-.2-.26l-1.885-3.3H96.356V-.3a.28.28,0,0,1-.091.215A.313.313,0,0,1,96.044,0ZM98.5-4.758q1.937,0,1.937-1.625T98.5-8.008H96.356v3.25ZM103.9,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,103.6-.3V-8.8a.291.291,0,0,1,.085-.215A.291.291,0,0,1,103.9-9.1h.689a.291.291,0,0,1,.215.084.291.291,0,0,1,.084.215V-.3a.291.291,0,0,1-.084.215.291.291,0,0,1-.215.084Zm6.526.13a3.511,3.511,0,0,1-2.646-.936,3.8,3.8,0,0,1-.968-2.587q-.013-.351-.013-1.144t.013-1.17a3.787,3.787,0,0,1,.975-2.581,3.5,3.5,0,0,1,2.639-.943,4.3,4.3,0,0,1,1.963.41,3,3,0,0,1,1.222,1.073,2.911,2.911,0,0,1,.455,1.417v.026a.221.221,0,0,1-.084.176.285.285,0,0,1-.188.071h-.715q-.26,0-.325-.3a2.168,2.168,0,0,0-.793-1.371,2.648,2.648,0,0,0-1.534-.4q-2.236,0-2.314,2.483-.013.351-.013,1.079t.013,1.105q.078,2.483,2.314,2.483a2.68,2.68,0,0,0,1.541-.4,2.109,2.109,0,0,0,.786-1.372.422.422,0,0,1,.117-.234.314.314,0,0,1,.208-.065h.715a.3.3,0,0,1,.2.072.2.2,0,0,1,.071.188,2.93,2.93,0,0,1-.455,1.43A3,3,0,0,1,112.385-.28,4.3,4.3,0,0,1,110.422.13ZM116.1,0a.291.291,0,0,1-.215-.084A.291.291,0,0,1,115.8-.3V-8.8a.291.291,0,0,1,.085-.215A.291.291,0,0,1,116.1-9.1h.689a.291.291,0,0,1,.215.084.291.291,0,0,1,.084.215V-.3a.291.291,0,0,1-.084.215.291.291,0,0,1-.215.084Zm6.526.13A3.653,3.653,0,0,1,120-.761a3.712,3.712,0,0,1-.981-2.685Q119-3.835,119-4.55t.013-1.092a3.677,3.677,0,0,1,1.014-2.672,3.613,3.613,0,0,1,2.6-.917,3.6,3.6,0,0,1,2.587.917,3.677,3.677,0,0,1,1.014,2.672q.026.754.026,1.092t-.026,1.105a3.712,3.712,0,0,1-.982,2.685A3.634,3.634,0,0,1,122.629.13Zm0-1.105a2.188,2.188,0,0,0,1.638-.624,2.807,2.807,0,0,0,.663-1.911q.026-.78.026-1.04,0-.286-.026-1.04a2.787,2.787,0,0,0-.67-1.911,2.193,2.193,0,0,0-1.632-.624,2.21,2.21,0,0,0-1.645.624,2.787,2.787,0,0,0-.669,1.911q-.013.377-.013,1.04t.013,1.04a2.787,2.787,0,0,0,.669,1.911A2.21,2.21,0,0,0,122.629-.975ZM128.453,0a.291.291,0,0,1-.214-.084.291.291,0,0,1-.085-.215V-8.788a.307.307,0,0,1,.085-.227.291.291,0,0,1,.214-.084h.6a.331.331,0,0,1,.325.182l4.316,6.63v-6.5a.307.307,0,0,1,.084-.227.291.291,0,0,1,.215-.084h.624a.307.307,0,0,1,.228.084.307.307,0,0,1,.085.227V-.312a.313.313,0,0,1-.085.221.28.28,0,0,1-.215.091H134a.356.356,0,0,1-.312-.182l-4.3-6.565V-.3a.28.28,0,0,1-.091.215.313.313,0,0,1-.221.084Zm8.125,0a.249.249,0,0,1-.182-.078.249.249,0,0,1-.078-.182.523.523,0,0,1,.013-.143l3.224-8.411a.4.4,0,0,1,.416-.286h.884a.4.4,0,0,1,.416.286L144.482-.4l.026.143a.249.249,0,0,1-.078.182.249.249,0,0,1-.182.078h-.663a.315.315,0,0,1-.221-.072.362.362,0,0,1-.1-.15l-.715-1.846h-4.264l-.715,1.846a.344.344,0,0,1-.11.15.321.321,0,0,1-.215.072Zm5.59-3.185L140.413-7.8l-1.755,4.615ZM146.2,0a.291.291,0,0,1-.214-.084A.291.291,0,0,1,145.9-.3V-8.8a.291.291,0,0,1,.085-.215A.291.291,0,0,1,146.2-9.1h.689a.291.291,0,0,1,.214.084.291.291,0,0,1,.085.215V-.3a.291.291,0,0,1-.085.215.291.291,0,0,1-.214.084Zm6.175.13a4.7,4.7,0,0,1-1.865-.338,2.89,2.89,0,0,1-1.2-.891,2.087,2.087,0,0,1-.442-1.189.261.261,0,0,1,.084-.188.275.275,0,0,1,.2-.085h.663a.339.339,0,0,1,.338.26,1.54,1.54,0,0,0,.67.936,2.664,2.664,0,0,0,1.553.39A2.829,2.829,0,0,0,154-1.359a1.236,1.236,0,0,0,.546-1.072.98.98,0,0,0-.267-.715,2.266,2.266,0,0,0-.786-.481q-.52-.208-1.56-.52a8.008,8.008,0,0,1-1.612-.611,2.336,2.336,0,0,1-.9-.806,2.253,2.253,0,0,1-.3-1.209,2.177,2.177,0,0,1,.383-1.261,2.549,2.549,0,0,1,1.1-.877,4.162,4.162,0,0,1,1.7-.319,3.916,3.916,0,0,1,1.742.358,2.806,2.806,0,0,1,1.1.9,2.093,2.093,0,0,1,.4,1.092.261.261,0,0,1-.072.182.26.26,0,0,1-.2.078H154.6a.312.312,0,0,1-.338-.247,1.291,1.291,0,0,0-.611-.9,2.353,2.353,0,0,0-1.339-.357,2.483,2.483,0,0,0-1.391.338,1.125,1.125,0,0,0-.507,1,1.092,1.092,0,0,0,.24.728,1.965,1.965,0,0,0,.734.5,12.59,12.59,0,0,0,1.443.487,9.662,9.662,0,0,1,1.742.617,2.363,2.363,0,0,1,.949.793,2.147,2.147,0,0,1,.312,1.2,2.227,2.227,0,0,1-.936,1.9A4.165,4.165,0,0,1,152.373.13Z" transform="translate(47.96 29.279)"/>
          </g>
          <g id="Grupo_2436" data-name="Grupo 2436" transform="translate(11736.714 3257.662)">
            <g id="Grupo_2435" data-name="Grupo 2435" class="clip-path">
              <path id="Caminho_7635" data-name="Caminho 7635" fill="#cbde59" d="M12.14,0a11.422,11.422,0,0,1,8.221,18.347c1.125,1.247,7.181,7.02,7.559,7.559a1.43,1.43,0,0,1-2.014,2.014c-.549-.387-6.306-6.43-7.559-7.559A11.421,11.421,0,0,1,0,12.139c0-.514,0-1.031,0-1.545A11.5,11.5,0,0,1,10.65,0h1.49M10.953,2.814a8.561,8.561,0,1,0,7.863,12.774A8.594,8.594,0,0,0,10.953,2.814" transform="translate(0 0)"/>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div>
      <a href="{{ product.url }}" alt="{{ product.title }}" class="product-title font-3">
        {% if block.settings.show_product_title %}
          {{ product.title }}
        {% else %}
          {{ block.settings.title }}
        {% endif %}
      </a>
      <div class="product-subtitle">
        {{ block.settings.subtitle }}
      </div>
      <div class="product-description">
        {% if block.settings.show_product_description %}
          {{ product.description }}
        {% else %}
          {{ block.settings.description }}
        {% endif %}
      </div>
    </div>
    <div class="product-price-container">
      <div class="product-price">
        {% if product.compare_at_price > product.price -%}
          <old class="custom-font">{{ product.compare_at_price | money }}</old>
        {%- endif %}
        <new class="font-3">{{ product.price | money }}</new>
      </div>
      <div class="portion-container">
        <div class="portion-icon-container" style="--background: {{ block.settings.color }}">
          <svg
            class="portion-icon"
            width="58"
            height="46"
            viewBox="0 0 58 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_110_5)">
            <path d="M40.0307 45.2012H17.1945C14.6807 45.2012 12.6354 43.156 12.6354 40.642V39.227C3.31187 33.6118 1.14249 23.5572 0.640666 19.3986C0.514776 18.3536 0.842884 17.3023 1.54148 16.5145C2.24056 15.726 3.2462 15.2734 4.30041 15.2734H52.9248C53.979 15.2734 54.9846 15.726 55.6837 16.5145C56.3823 17.3023 56.7104 18.3536 56.5843 19.3986C56.0827 23.5572 53.9133 33.6118 44.5898 39.227V40.642C44.5898 43.156 42.5446 45.2012 40.0307 45.2012ZM4.30041 18.8407C4.28554 18.8407 4.24638 18.8407 4.2107 18.8809C4.17625 18.9198 4.18071 18.9572 4.1822 18.9711C4.63397 22.7153 6.61847 31.9301 15.2697 36.6253L16.2025 37.1315V40.642C16.2025 41.189 16.6476 41.6341 17.1945 41.6341H40.0307C40.5776 41.6341 41.0227 41.189 41.0227 40.642V37.1315L41.9555 36.6253C50.6067 31.9301 52.5912 22.7153 53.0427 18.9711C53.0445 18.9572 53.0489 18.9198 53.0145 18.8809C52.9788 18.8407 52.9394 18.8407 52.9248 18.8407H4.30041Z" fill="#FFFFFF"/>
            <path d="M33.7399 24.9196C33.6101 25.6024 33.5546 26.301 33.5782 27.0035C33.6214 28.2699 33.004 30.2863 31.1428 32.1479C29.6386 33.6522 27.716 34.5862 26.1256 34.5862C25.651 34.5862 24.9975 34.4982 24.5775 34.0784C23.5054 33.0064 24.1153 29.9049 26.5075 27.5125C28.0107 26.0093 29.933 25.0753 31.5235 25.0753C31.5666 25.0753 31.6092 25.076 31.6523 25.0773C31.7596 25.081 31.8672 25.083 31.974 25.083C32.5729 25.083 33.1633 25.0277 33.7399 24.9196ZM55.905 0.835938C55.4146 0.835938 54.9249 1.02304 54.5508 1.39674L36.1802 19.7673C35.0623 20.8852 33.5494 21.5156 31.974 21.5156C31.9073 21.5156 31.8402 21.5144 31.7733 21.5122C31.6902 21.5095 31.6072 21.508 31.5235 21.508C29.0679 21.508 26.2569 22.7183 23.9849 24.9903C20.2454 28.7296 19.3817 33.9277 22.0552 36.6009C23.1037 37.6494 24.5403 38.1535 26.1256 38.1535C28.5811 38.1535 31.3926 36.9427 33.6651 34.6702C36.0147 32.3209 37.2287 29.3954 37.1437 26.8823C37.0877 25.2356 37.7233 23.6407 38.8881 22.4757L57.2588 4.10512C58.0068 3.35721 58.0068 2.1449 57.2588 1.39674C56.8849 1.02304 56.3952 0.835938 55.905 0.835938Z" fill="#FFFFFF"/>
            </g>
            <defs>
            <clipPath id="clip0_110_5">
            <rect width="58" height="46" fill="white"/>
            </clipPath>
            </defs>
          </svg>
        </div>
        <div class="portion-text-container">
          <span>Rende {{ block.settings.porcoes }} porções</span>
          <div class="portion-value">
            <b>
              /
              {{- product.price | divided_by: block.settings.porcoes | money }}
              por porção
            </b>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-container {% unless product.available %}unavailable-product{% endunless %}">
      <div class="quantity-container">
        <div class="quantity">
          <quickshop-update-quantity class="previewCartItem-qty quickshop-quantity">
            <button type="button" name="minus" class="minus btn-quantity"></button>
            <input
              class="qtd-input"
              name="quantity"
              value="{% if product.selected_or_first_available_variant.available %}1{% else %}0{% endif %}"
              type="number"
              data-price="{{ product.selected_or_first_available_variant.price }}"
              data-variantId="{{ product.selected_or_first_available_variant.id }}"
              {% if product.selected_or_first_available_variant.available
                and product.selected_or_first_available_variant.inventory_quantity < 1
              %}
                data-inventory="{{ product.selected_or_first_available_variant.inventory_quantity }}"
              {% else %}
                data-inventory="9999999"
              {% endif %}
            >
            <button type="button" name="plus" class="plus btn-quantity"></button>
          </quickshop-update-quantity>
        </div>
      </div>
      <div class="add-to-cart-container">
        <button class="btn btn-with-icon btn-primary font-3" add-to-cart-card>
          {% unless product.available %}Esgotado{% else %}+Adicionar{% endunless %}
        </button>
      </div>
    </div>
    <div
      class="cupom"
      {% if product.metafields.custom.cupom_value.value != blank
        and product.metafields.custom.cupom_name.value != blank
      %}
        style="visibility: visible;"
      {% else %}
        style="visibility: hidden;"
      {% endif %}
    >
      {% liquid
        if product.metafields.custom.cupom_value.value != blank and product.metafields.custom.cupom_name.value != blank
          assign discountPercetage = product.metafields.custom.cupom_value.value | divided_by: 100.0
          assign discountedPrice = product.price | times: discountPercetage
          assign priceWithDiscount = product.price | minus: discountedPrice | round
        endif
      %}
      {{ priceWithDiscount | money }} com o cupom <u>{{ product.metafields.custom.cupom_name.value }}</u>
    </div>
  </div>
</div>
