<link rel="stylesheet" href="{{ 'component-menu-mobile.css' | asset_url }}" media="all" onload="this.media='all'">
<noscript>{{ 'component-menu-mobile.css' | asset_url | stylesheet_tag }}</noscript>

<{% if section.settings.sticky_header_type != 'none' %}sticky-header-mobile{% else %}div{% endif %} class="header-mobile" style="--bg-color: {% if section.settings.gradient != blank %}{{ section.settings.gradient }}{% else %}{{ section.settings.background }}{% endif %}; --p-top: {{ section.settings.padding_top }}px; --p-bottom: {{ section.settings.padding_bottom }}px">
    <div class="container">
        <div class="header-mobile__wrapper header-mobile--wrapper">
            {%- for block in section.blocks -%}
                <div class="header-mobile__item header-mobile__item--{{ block.type }}" 
                  {% if request.page_type == 'product' and block.type == "customer" %}style="display:none"{% endif %}
                  {% if request.page_type == 'product' and block.type == "search" %}style="display:none"{% endif %}
                >
                    {%- case block.type -%}
                        {%-  when 'menu' -%}
                            <div class="header-mobile--icon item__mobile--hamburger">
                                <button type="button" class="mobileMenu-toggle" data-mobile-menu aria-label="menu"><span class="mobileMenu-toggle__Icon"></span></button>
                            </div>
                        {%-  when 'search' -%}
                            <details-modal {% if request.page_type == 'product' %}style="display:none"{% endif %} class="header__iconItem header__search" style="--i-color: {{ block.settings.color }}">
                                <details>
                                    <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}" data-search-mobile>
                                        <span>{% render 'icon-search', class: 'modal__toggle-open icon icon-search w-24 h-24' %}{% render 'icon-close', class: 'modal__toggle-close icon icon-close w-24 h-24' %}</span>
                                    </summary>
                                </details>
                            </details-modal>
                        {%-  when 'logo' -%}
                            <div class="header-mobile--icon" style="--logo-font-size: {{ block.settings.logo_font_size }}px; --logo-font-weight: {{ block.settings.logo_font_weight }}; --logo-color: {{ block.settings.logo_color }}">
                                {%- if menu_tab.size > 0 -%}
                                    {% assign page_handle = page.handle %}
                                    <div class="header__heading header__heading--item">
                                        {%- for block in menu_tab -%}
                                            {%- liquid
                                                assign multi_page_handle = pages[block.settings.link].handle
                                                assign multi_page_url = pages[block.settings.link].url
                                                assign class = 'header__heading-link focus-inset'
            
                                                if template.suffix contains 'landing'
                                                    if page_handle == multi_page_handle
                                                        assign class = 'header__heading-link focus-inset is-active'
                                                    endif
                                                else
                                                    if forloop.first
                                                        assign class = 'header__heading-link focus-inset is-active'
                                                    endif
                                                endif
            
                                                if multi_page_url != blank
                                                    assign url = multi_page_url
                                                else
                                                    assign url = routes.root_url
                                                endif
                                            -%}
            
                                            <a href="{{ url }}" class="{{ class }} header__heading-logo 1">
                                              {% if request.page_type == 'product' %}
                                                <svg width="37" height="32" viewBox="0 0 37 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M29.487 25.8889C29.0407 26.013 28.5738 26.0443 28.115 25.9809C28.1092 25.9839 28.1038 25.9876 28.099 25.9919C26.0581 27.3147 23.7681 28.206 21.37 28.6109C18.9718 29.0158 16.5162 28.9257 14.1542 28.3463C11.7921 27.7668 9.57359 26.7103 7.63507 25.2415C5.69654 23.7728 4.079 21.923 2.88195 19.8059C2.67611 19.4595 2.34273 19.2074 1.95326 19.1038C1.56379 19.0002 1.14923 19.0533 0.798444 19.2517C0.447656 19.4501 0.188557 19.778 0.0766811 20.1652C-0.0351943 20.5524 0.00905818 20.968 0.199953 21.3229C1.75404 24.0754 3.91243 26.4393 6.51255 28.2367C9.11268 30.0341 12.0868 31.2181 15.2108 31.6995C18.3348 32.1808 21.5273 31.9471 24.5479 31.0158C27.5685 30.0845 30.3384 28.4799 32.649 26.3229C31.5761 26.512 30.471 26.3613 29.488 25.8919" fill="white"/> <path d="M36.4799 18.5459C34.6969 18.8022 33.0267 19.5707 31.6722 20.7581C30.3177 21.9456 29.3372 23.5008 28.8499 25.2349C31.2499 24.9109 33.2828 21.8639 33.2828 21.8639C32.9994 22.771 32.5155 23.6026 31.8668 24.2971C31.2182 24.9917 30.4215 25.5313 29.5359 25.8759L29.4898 25.8889C30.4729 26.3583 31.578 26.5089 32.6508 26.3199L32.6578 26.3129C34.9708 25.5519 37.0988 22.6519 36.4818 18.5459" fill="#FFD88A"/> <path d="M8.30202 -0.000976562C6.68258 -0.000976563 5.09952 0.479241 3.75301 1.37895C2.4065 2.27866 1.35702 3.55745 0.737292 5.05361C0.117561 6.54977 -0.0445883 8.19611 0.271347 9.78442C0.587283 11.3727 1.36711 12.8317 2.51223 13.9768C3.65734 15.1219 5.1163 15.9018 6.70462 16.2177C8.29293 16.5336 9.93927 16.3715 11.4354 15.7517C12.9316 15.132 14.2104 14.0825 15.1101 12.736C16.0098 11.3895 16.49 9.80646 16.49 8.18702C16.4868 6.01641 15.6232 3.9356 14.0883 2.40074C12.5534 0.865879 10.4726 0.00219763 8.30202 -0.000976562ZM8.30202 3.08102C9.16406 3.08079 10.0121 3.2988 10.7672 3.71476C11.5222 4.13071 12.1597 4.73105 12.6201 5.45983C13.0805 6.18861 13.3489 7.0221 13.4003 7.8826C13.4517 8.74311 13.2844 9.60262 12.914 10.381C11.6656 9.20606 10.0159 8.55181 8.30152 8.55181C6.58715 8.55181 4.93742 9.20606 3.68902 10.381C3.31709 9.60274 3.14864 8.74283 3.19942 7.88174C3.25021 7.02065 3.51857 6.1865 3.97941 5.45734C4.44025 4.72817 5.0785 4.1278 5.83448 3.71238C6.59045 3.29697 7.43943 3.07909 8.30202 3.08102Z" fill="white"/> <path d="M28.4831 16.375C26.7715 16.3746 25.1031 15.8378 23.7123 14.8402C22.3215 13.8426 21.2783 12.4342 20.7292 10.8131C20.1801 9.19203 20.1528 7.43962 20.6511 5.80217C21.1493 4.16473 22.1481 2.72455 23.5071 1.68404C23.8316 1.43553 24.2415 1.32611 24.6466 1.37983C25.0518 1.43356 25.4191 1.64605 25.6676 1.97054C25.9161 2.29503 26.0255 2.70495 25.9718 3.11013C25.918 3.5153 25.7056 3.88253 25.3811 4.13104C24.5326 4.77931 23.9088 5.67725 23.5972 6.69856C23.2857 7.71986 23.3022 8.81314 23.6443 9.82458C23.9865 10.836 24.6372 11.7148 25.5048 12.3372C26.3724 12.9595 27.4133 13.2943 28.4811 13.2943C29.5488 13.2943 30.5897 12.9595 31.4573 12.3372C32.3249 11.7148 32.9756 10.836 33.3178 9.82458C33.66 8.81314 33.6764 7.71986 33.3649 6.69856C33.0534 5.67725 32.4295 4.77931 31.581 4.13104C31.2566 3.88253 31.0441 3.5153 30.9903 3.11013C30.9366 2.70495 31.046 2.29503 31.2945 1.97054C31.5431 1.64605 31.9103 1.43356 32.3155 1.37983C32.7207 1.32611 33.1306 1.43553 33.4551 1.68404C34.814 2.72455 35.8128 4.16473 36.3111 5.80217C36.8093 7.43962 36.782 9.19203 36.2329 10.8131C35.6838 12.4342 34.6406 13.8426 33.2498 14.8402C31.859 15.8378 30.1906 16.3746 28.4791 16.375" fill="white"/> </svg>
                                              {% else %}
                                                {%- if block.settings.logo != blank -%}
                                                    {%- assign logo = block.settings.logo -%}
                                                    {%- assign logo_mb = block.settings.logo_mobile -%}
                                                    {%- assign logo_width = block.settings.logo_width_mobile -%}
                                                    {%- assign logo_width_img = logo_width | append: 'x' -%}
                                                    {%- assign logo_width_retina = logo_width | times: 2 | append: 'x'  -%}
                                                    {%- assign logo_height = block.settings.logo_width | divided_by: logo.aspect_ratio | round -%}
                                                    <img {% if logo_mb != blank %}class="logo-m-none"{% endif %} srcset="{{ logo | img_url: logo_width_img }}, {{ logo | img_url: logo_width_retina }} 2x"
                                                        src="{{ logo | img_url: logo_width_img }}" loading="lazy" width="{{ logo_width }}" height="{{ logo_height }}" alt="{{ logo.alt | default: shop.name | escape }}" class="header__heading-logo" style="--width-logo-mb: {{ block.settings.logo_width_mobile | append: 'px'}};">     
                                                    {% if logo_mb != blank %}
                                                    <img class="logo-d-none" srcset="{{ logo_mb | img_url: logo_width_img }}, {{ logo | img_url: logo_width_retina }} 2x"
                                                            src="{{ image_mb | img_url: logo_width_img }}" loading="lazy" width="{{ logo_width }}" height="{{ logo_height }}" alt="{{ logo_mb.alt | default: shop.name | escape }}" class="header__heading-logo" style="--width-logo-mb: {{ block.settings.logo_width_mobile | append: 'px'}};">
                                                    {% endif %}
                                                {%- else -%}
                                                    <span class="h2 {{ block.settings.logo_text_transform }}">{% if block.settings.logo_text != blank %}{{ block.settings.logo_text }}{% else %}{{ shop.name }}{% endif %}</span>
                                                {%- endif -%}
                                              {% endif %}
                                            </a>
                                        {%- endfor -%}
                                    </div>
                                {% else %}
                                    <a href="{{ routes.root_url }}" class="header__heading-link focus-inset 2">
                                        {% if request.page_type == 'product' %}
                                          <svg width="37" height="32" viewBox="0 0 37 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M29.487 25.8889C29.0407 26.013 28.5738 26.0443 28.115 25.9809C28.1092 25.9839 28.1038 25.9876 28.099 25.9919C26.0581 27.3147 23.7681 28.206 21.37 28.6109C18.9718 29.0158 16.5162 28.9257 14.1542 28.3463C11.7921 27.7668 9.57359 26.7103 7.63507 25.2415C5.69654 23.7728 4.079 21.923 2.88195 19.8059C2.67611 19.4595 2.34273 19.2074 1.95326 19.1038C1.56379 19.0002 1.14923 19.0533 0.798444 19.2517C0.447656 19.4501 0.188557 19.778 0.0766811 20.1652C-0.0351943 20.5524 0.00905818 20.968 0.199953 21.3229C1.75404 24.0754 3.91243 26.4393 6.51255 28.2367C9.11268 30.0341 12.0868 31.2181 15.2108 31.6995C18.3348 32.1808 21.5273 31.9471 24.5479 31.0158C27.5685 30.0845 30.3384 28.4799 32.649 26.3229C31.5761 26.512 30.471 26.3613 29.488 25.8919" fill="white"/> <path d="M36.4799 18.5459C34.6969 18.8022 33.0267 19.5707 31.6722 20.7581C30.3177 21.9456 29.3372 23.5008 28.8499 25.2349C31.2499 24.9109 33.2828 21.8639 33.2828 21.8639C32.9994 22.771 32.5155 23.6026 31.8668 24.2971C31.2182 24.9917 30.4215 25.5313 29.5359 25.8759L29.4898 25.8889C30.4729 26.3583 31.578 26.5089 32.6508 26.3199L32.6578 26.3129C34.9708 25.5519 37.0988 22.6519 36.4818 18.5459" fill="#FFD88A"/> <path d="M8.30202 -0.000976562C6.68258 -0.000976563 5.09952 0.479241 3.75301 1.37895C2.4065 2.27866 1.35702 3.55745 0.737292 5.05361C0.117561 6.54977 -0.0445883 8.19611 0.271347 9.78442C0.587283 11.3727 1.36711 12.8317 2.51223 13.9768C3.65734 15.1219 5.1163 15.9018 6.70462 16.2177C8.29293 16.5336 9.93927 16.3715 11.4354 15.7517C12.9316 15.132 14.2104 14.0825 15.1101 12.736C16.0098 11.3895 16.49 9.80646 16.49 8.18702C16.4868 6.01641 15.6232 3.9356 14.0883 2.40074C12.5534 0.865879 10.4726 0.00219763 8.30202 -0.000976562ZM8.30202 3.08102C9.16406 3.08079 10.0121 3.2988 10.7672 3.71476C11.5222 4.13071 12.1597 4.73105 12.6201 5.45983C13.0805 6.18861 13.3489 7.0221 13.4003 7.8826C13.4517 8.74311 13.2844 9.60262 12.914 10.381C11.6656 9.20606 10.0159 8.55181 8.30152 8.55181C6.58715 8.55181 4.93742 9.20606 3.68902 10.381C3.31709 9.60274 3.14864 8.74283 3.19942 7.88174C3.25021 7.02065 3.51857 6.1865 3.97941 5.45734C4.44025 4.72817 5.0785 4.1278 5.83448 3.71238C6.59045 3.29697 7.43943 3.07909 8.30202 3.08102Z" fill="white"/> <path d="M28.4831 16.375C26.7715 16.3746 25.1031 15.8378 23.7123 14.8402C22.3215 13.8426 21.2783 12.4342 20.7292 10.8131C20.1801 9.19203 20.1528 7.43962 20.6511 5.80217C21.1493 4.16473 22.1481 2.72455 23.5071 1.68404C23.8316 1.43553 24.2415 1.32611 24.6466 1.37983C25.0518 1.43356 25.4191 1.64605 25.6676 1.97054C25.9161 2.29503 26.0255 2.70495 25.9718 3.11013C25.918 3.5153 25.7056 3.88253 25.3811 4.13104C24.5326 4.77931 23.9088 5.67725 23.5972 6.69856C23.2857 7.71986 23.3022 8.81314 23.6443 9.82458C23.9865 10.836 24.6372 11.7148 25.5048 12.3372C26.3724 12.9595 27.4133 13.2943 28.4811 13.2943C29.5488 13.2943 30.5897 12.9595 31.4573 12.3372C32.3249 11.7148 32.9756 10.836 33.3178 9.82458C33.66 8.81314 33.6764 7.71986 33.3649 6.69856C33.0534 5.67725 32.4295 4.77931 31.581 4.13104C31.2566 3.88253 31.0441 3.5153 30.9903 3.11013C30.9366 2.70495 31.046 2.29503 31.2945 1.97054C31.5431 1.64605 31.9103 1.43356 32.3155 1.37983C32.7207 1.32611 33.1306 1.43553 33.4551 1.68404C34.814 2.72455 35.8128 4.16473 36.3111 5.80217C36.8093 7.43962 36.782 9.19203 36.2329 10.8131C35.6838 12.4342 34.6406 13.8426 33.2498 14.8402C31.859 15.8378 30.1906 16.3746 28.4791 16.375" fill="white"/> </svg>
                                        {% else %}
                                          {%- if block.settings.logo_mobile != blank -%}
                                              {%- assign logo = block.settings.logo_mobile -%}
                                              {%- assign logo_width = block.settings.logo_width_mobile -%}
                                              {%- assign logo_width_img = logo_width | append: 'x' -%}
                                              {%- assign logo_width_retina = logo_width | times: 2 | append: 'x'  -%}
                                              {%- assign logo_height = block.settings.logo_width_mobile | divided_by: logo.aspect_ratio | round -%}
                                              <img srcset="//cdn.shopify.com/s/files/1/0619/0206/1748/files/logo_holy_preta_110x.png?v=1702930090, //cdn.shopify.com/s/files/1/0619/0206/1748/files/logo_holy_preta_220x.png?v=1691057158 2x" src="//cdn.shopify.com/s/files/1/0619/0206/1748/files/logo_holy_preta_110x.png?v=1691057158" loading="lazy" width="{{ logo_width }}" height="{{ logo_height }}" class="header__heading-logo hide-onscroll" alt="{{ logo.alt | default: shop.name | escape }}" style="--width-logo-mb: {{ block.settings.logo_width_mobile | append: 'px'}};">
                                              <img srcset="{{ logo | img_url: logo_width_img }}, {{ logo | img_url: logo_width_retina }} 2x" src="{{ logo | img_url: logo_width_img }}" loading="lazy" width="{{ logo_width }}" height="{{ logo_height }}" class="header__heading-logo" alt="{{ logo.alt | default: shop.name | escape }}" style="--width-logo-mb: {{ block.settings.logo_width_mobile | append: 'px'}};">
                                          {%- elsif block.settings.logo != blank -%}
                                              {%- assign logo = block.settings.logo -%}
                                              {%- assign logo_width = block.settings.logo_width_mobile -%}
                                              {%- assign logo_width_img = logo_width | append: 'x' -%}
                                              {%- assign logo_width_retina = logo_width | times: 2 | append: 'x' -%}
                                              {%- assign logo_height = block.settings.logo_width_mobile | divided_by: logo.aspect_ratio | round -%}
                                              <img srcset="{{ logo | img_url: logo_width_img }}, {{ logo | img_url: logo_width_retina }} 2x" src="{{ logo | img_url: logo_width_img }}" loading="lazy" width="{{ logo_width }}" height="{{ logo_height }}" class="header__heading-logo" alt="{{ logo.alt | default: shop.name | escape }}" style="--width-logo-mb: {{ block.settings.logo_width_mobile | append: 'px'}};">
                                          {%- else -%}
                                              <span class="h2 {{ block.settings.logo_text_transform }}">{% if block.settings.logo_text != blank %}{{ block.settings.logo_text }}{% else %}{{ shop.name }}{% endif %}</span>
                                          {%- endif -%}
                                        {%- endif -%}
                                    </a>
                                {% endif %}
                            </div>
                        {%-  when 'customer' -%}
                            <div {% if request.page_type == 'product' %}style="display:none"{% endif %} class="header-mobile--icon" style="--i-color: {{ block.settings.color }}">
                                {%- if shop.customer_accounts_enabled -%}
                                {% if routes.account_login_url contains '/account/login' %}
                                    {% assign is_contained = true %}
                                {% else %}
                                    {% assign is_contained = false %}
                                {% endif %}
                                <a href="{{ routes.account_login_url }}" class="header__icon header__icon--account{% if  block.settings.icon == '2' %} header__icon--account-2{% endif %} link link--text focus-inset"{% if is_contained %} data-open-auth-sidebar{% endif %}>
                                    {%- case block.settings.icon -%}
                                        {%-  when '1' -%}
                                            {% render 'icon-account-2' %}
                                        {%-  when '2' -%}
                                            {% render 'icon-account-3' %}
                                        {%-  when '3' -%}
                                            {% render 'icon-account', class: 'user-circle' %}
                                    {%- endcase -%}
                                    <span class="visually-hidden">
                                        {%- liquid
                                        if customer
                                        echo 'customer.account_fallback' | t
                                        else
                                        echo 'customer.log_in' | t
                                        endif
                                        -%}
                                    </span>
                                </a>
                                {%- endif -%}
                            </div>
                        {%-  when 'cart' -%}
                            <div class="header-mobile--icon" style="--i-color: {{ block.settings.color }}; --color-bubble: {{ block.settings.color_bubble }}; --bg-bubble: {{ block.settings.bg_bubble }}">
                                <a href="javascript:void(0)" class="header__icon header__icon--cart link link--text focus-inset cart-icon-bubble" {% if settings.show_quick_cart %}data-cart-sidebar{% endif %}>
                                    {%- case block.settings.icon -%}
                                        {%-  when '1' -%}
                                            {% render 'icon-cart-05' %}
                                        {%-  when '2' -%}
                                            {% render 'icon-cart-02' %}
                                        {%-  when '3' -%}
                                            {% render 'icon-cart-06' %}
                                        {%-  when '4' -%}
                                            {% render 'icon-cart-04' %}
                                        {%-  when '5' -%}
                                            {% render 'icon-cart-03' %}
                                        {%-  when '6' -%}
                                            {% render 'icon-cart-07', class: 'shopping-basket' %}
                                    {%- endcase -%}
                                    <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                                    <div class="cart-count-bubble">
                                        {%- if cart.item_count < 100 -%} <span class="text" aria-hidden="true" data-cart-count>{{ cart.item_count }}</span>
                                            {%- endif -%}
                                            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                                    </div>
                                </a>
                            </div>
                    {%- endcase -%}
                </div>
            {%- endfor -%}
            
            {% if request.page_type == 'product' %}
              <div style="width: 100%;" class="search-mobile">
                <form {% if request.page_type == 'index' %}style="display:none"{% endif %} action="/search" method="get" role="search" class="search search-modal__form">
                   <div class="field">
                      <input class="search__input field__input form-input-placeholder" id="Search-In-Modal-Sidebar" type="search" name="q" value="" placeholder="Procurar produtos..." autocomplete="off" role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocapitalize="off" spellcheck="false" aria-activedescendant="">
                      <input type="hidden" name="options[prefix]" value="last">
                      <label class="field__label hiddenLabels" for="Search-In-Modal-Sidebar">Pesquisar</label>
                      <button class="button search__button field__button focus-inset" aria-label="Pesquisar">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="feather">
                            <path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path>
                         </svg>
                      </button>
                   </div>
                </form>
              </div>
            {% endif %}
        </div>
    </div>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header-mobile{% else %}div{% endif %}>

{% javascript %}
    class StickyHeaderMobile extends HTMLElement {
        constructor() {
            super();
        }
  
        connectedCallback() {
            this.header = document.querySelector('.section-header-mobile');
            this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
            this.headerBounds = {};
    
            if (this.headerIsAlwaysSticky) {
              this.header.classList.add('shopify-section-header-sticky');
            };
    
            this.currentScrollTop = 0;
            this.preventReveal = false;
            this.predictiveSearch = this.querySelector('predictive-search');
    
            this.onScrollHandler = this.onScroll.bind(this);
            this.hideHeaderOnScrollUp = () => this.preventReveal = true;
    
            this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
            window.addEventListener('scroll', this.onScrollHandler, false);
    
            this.createObserver();
        }
  
        disconnectedCallback() {
            this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
            window.removeEventListener('scroll', this.onScrollHandler);
        }
  
        createObserver() {
            let observer = new IntersectionObserver((entries, observer) => {
                this.headerBounds = entries[0].intersectionRect;
                observer.disconnect();
            });
    
            observer.observe(this.header);
        }
  
        onScroll() {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    
            if (this.predictiveSearch && this.predictiveSearch.isOpen) return;
    
            if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
                this.header.classList.add('scrolled-past-header scrolled-white');
                if (this.preventHide) return;
                requestAnimationFrame(this.hide.bind(this));
            } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
                this.header.classList.add('scrolled-past-header scrolled-black');
                if (!this.preventReveal) {
                    requestAnimationFrame(this.reveal.bind(this));
                } else {
                    window.clearTimeout(this.isScrolling);
        
                    this.isScrolling = setTimeout(() => {
                    this.preventReveal = false;
                    }, 66);
        
                    requestAnimationFrame(this.hide.bind(this));
                }
            } else if (scrollTop <= this.headerBounds.top) {
                this.header.classList.remove('scrolled-past-header');
                requestAnimationFrame(this.reset.bind(this));
            }
    
            this.currentScrollTop = scrollTop;
        }
  
        hide() {
            if (this.headerIsAlwaysSticky) return;
            this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
            this.header.style.top = '';
        }
  
        reveal() {
            const headerMultiSite = document.querySelector('.section-header-nav-multi-site');
            if (this.headerIsAlwaysSticky) return;
            this.header.classList.add('shopify-section-header-sticky', 'animate');
            this.header.classList.remove('shopify-section-header-hidden');
            if (headerMultiSite) {
                const height = headerMultiSite.offsetHeight;
                this.header.style.top = `${height}px`;
            }
        }
  
        reset() {
            if (this.headerIsAlwaysSticky) return;
            this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
            this.header.style.top = '';
        }
    }
  
    customElements.define('sticky-header-mobile', StickyHeaderMobile);
{% endjavascript %}

{% schema %}
{
    "name": "t:sections.header.settings.header__3.content",
    "limit": 1,
    "class": "section-header-mobile",
    "settings": [
        {
            "type": "color",
            "id": "background",
            "label": "t:settings_schema.colors.settings.colors_name.background_color",
            "default": "#ffffff"
        },
        {
            "type": "color_background",
            "id": "gradient",
            "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
        },
        {
            "type": "header",
            "content": "t:sections.header.settings.enable_sticky_header.name"
        },
        {
            "type": "select",
            "id": "sticky_header_type",
            "label": "t:settings_schema.general.settings.swatch.label__2",
            "default": "on_scroll",
            "options": [
                {
                    "value": "none",
                    "label": "t:settings_schema.typography.settings.text_transform.options__1"
                },
                {
                    "value": "on_scroll",
                    "label": "t:sections.header.settings.enable_sticky_header.label_2"
                }
            ]
        },
        {
            "type": "header",
            "content": "t:sections.main-product.settings.general.spacing"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "label": "t:sections.main-list-collections.settings.spacing.mg_top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px",
            "label": "t:sections.main-list-collections.settings.spacing.mg_bottom",
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "menu",
            "name": "Menu",
            "limit": 1,
            "settings": [
                {
                    "type": "color",
                    "id": "color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                }
            ]
        },
        {
            "type": "search",
            "name": "t:sections.header.settings.header_top.search",
            "limit": 1,
            "settings": [
                {
                    "type": "color",
                    "id": "color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                }
            ]
        },
        {
            "type": "logo",
            "name": "t:sections.header.settings.header__4.content",
            "limit": 1,
            "settings": [
                {
                    "type": "header",
                    "content": "t:sections.header.settings.logo.label__1"
                },
                {
                    "type": "image_picker",
                    "id": "logo_mobile",
                    "label": "t:settings_schema.quick_view.settings.header__2.content"
                },
                {
                    "type": "range",
                    "id": "logo_width_mobile",
                    "min": 50,
                    "max": 150,
                    "step": 5,
                    "unit": "t:sections.header.settings.logo_width.unit",
                    "label": "t:sections.header.settings.logo_width.label__1",
                    "default": 65
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.menu_tab.label__3"
                },
                {
                    "type": "textarea",
                    "id": "logo_text",
                    "label": "t:sections.header.settings.logo.label__7"
                },
                {
                    "type": "range",
                    "id": "logo_font_size",
                    "label": "t:settings_schema.typography.settings.font_size.label",
                    "min": 15,
                    "max": 30,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 20
                },
                {
                    "type": "select",
                    "id": "logo_font_weight",
                    "label": "t:settings_schema.typography.settings.font_weight.label",
                    "default": "900",
                    "options": [
                    {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                    },
                    {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                    },
                    {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                    },
                    {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                    },
                    {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                    },
                    {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                    }]
                },
                {
                    "type": "select",
                    "id": "logo_text_transform",
                    "label": "t:settings_schema.typography.settings.text_transform.label",
                    "default": "uppercase",
                    "options": [
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }]
                },
                {
                    "type": "color",
                    "id": "logo_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                }
            ]
        },
        {
            "type": "customer",
            "name": "t:sections.header.settings.header_icons.customer",
            "limit": 1,
            "settings": [
                {
                    "type": "select",
                    "id": "icon",
                    "label": "t:settings_schema.typography.settings.typography.icon",
                    "default": "1",
                    "options": [
                        {
                            "value": "1",
                            "label": "t:sections.header.settings.header_icons.customer_2"
                        },
                        {
                            "value": "2",
                            "label": "t:sections.header.settings.header_icons.customer_3"
                        },
                        {
                            "value": "3",
                            "label": "t:sections.header.settings.header_icons.customer_4"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                }
            ]
        },
        {
            "type": "cart",
            "name": "t:sections.header.settings.header_top.cart",
            "limit": 1,
            "settings": [
                {
                    "type": "select",
                    "id": "icon",
                    "label": "t:settings_schema.typography.settings.typography.icon",
                    "default": "3",
                    "options": [
                        {
                            "value": "1",
                            "label": "t:sections.header.settings.header_icons.cart_1"
                        },
                        {
                            "value": "2",
                            "label": "t:sections.header.settings.header_icons.cart_3"
                        },
                        {
                            "value": "3",
                            "label": "t:sections.header.settings.header_icons.cart_4"
                        },
                        {
                            "value": "4",
                            "label": "t:sections.header.settings.header_icons.cart_5"
                        },
                        {
                            "value": "5",
                            "label": "t:sections.header.settings.header_icons.cart_6"
                        },
                        {
                            "value": "6",
                            "label": "t:sections.header.settings.header_icons.cart_7"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#232323"
                },
                {
                    "type": "color",
                    "id": "color_bubble",
                    "label": "t:settings_schema.general.settings.pagination.item_color",
                    "default": "#323232"
                },
                {
                    "type": "color",
                    "id": "bg_bubble",
                    "label": "t:settings_schema.general.settings.pagination.item_bg_color",
                    "default": "#ffe5e8"
                }
            ]
        }
    ]
}
{% endschema %}