<style>
  .mix-sugeridos-section {
    padding: 50px 20px 120px 20px;
    
  }

  .mix-sugeridos-section .header-widget {
    margin-bottom: 50px;
  }
  
  .mix-item {
    width: 50%;
    background-color: #00B45A;
    padding: 5px;
    border-radius: 27px;
    max-width: fit-content;
    min-width: fit-content;
    height: 100%;
  }
  
  .mix-body {
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 57.3%;
    
  }

  .mixes-content {
    display: flex;
    margin: 0 auto;
    max-width: fit-content;
    gap: 15px;
    row-gap: 70px;
    flex-wrap: wrap;
  }

  .mix-body .items-inclusos ul {
    padding-left: 0;
    height: 120px;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    min-height:120px;
  }

  .mix-body .items-inclusos ul li {
    position: relative;
    font-size: 10px;
    padding-left: 25px;
  }

  .mix-body .items-inclusos ul li svg {
    stroke: none;
    position: absolute;
    left: 5px;
    width: 12px;
    height: 13px;
    top: 4px;
  }
  
  .mix-body .price-mix-flex {
    display: flex;
    flex-direction: column;
    min-height: 47px;
    justify-content: flex-end;
  }
  
  .mix-body .mix-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .mix-body .parcelamento p {
    margin: 0;
  }
  
  .mix-body .action-mix {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 15px;
  }

  .mix-header img {
    max-width: 300px;
    max-height: 160px;
    margin: 0 auto;
    margin-top: -45px;
    aspect-ratio: 8/4;
    object-fit: contain;
  }

  .mix-title h4 {
    margin: 0;
    color: #fff;
    line-height: 1.2;
    font-weight: 100;
  }

  .mix-title p {
    margin-top: 0;
    text-align: center;
    color: #fff
  }

  .action-mix .quantity-container input{
    width: 100%;
    max-width: 100px;
  }

  .items-inclusos{
    min-height:39vh;
  }

  @media (min-width: 1200px){
    .mix-sugeridos-section {
      padding: 50px 120px 60px 120px;
    }
  }

  @media (max-width: 1530px){
    .mix-item {
      width: 50%;
      max-width: calc(50% - 8px);
    }
  }

  @media (max-width: 1024px){
    .mix-item {
      width: 50%;
      max-width: calc(50% - 8px);
    }
    .mixes-content {
      width: 100%;
    }
  }

  @media (max-width: 800px){
    .mix-item {
      width: 100%;
      max-width: 100%;
    }

    .mixes-content {
      gap: 55px;
    }
    .mixes-content {
      flex-direction: column;
    }
  }

  .mix-title {
    min-height: 124px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 18px;
  }
  
  new.custom-font {
    color: #00814e;
    font-size: 18px;
  }

  old.custom-font {
    font-weight: 700;
    text-decoration: line-through;
    font-size: 12px;
    margin-bottom: 3px;
    color: #3d3b3b;
  }

  .container-porcoes {
      display: flex;
      flex-direction: row;
      line-height: 100%;
      background: #ff7a50;
      padding: 8px 8px;
      position: relative;
      color: #fff;
      text-transform: uppercase;
      font-size: 9px;
      border-radius: 4px;
      font-weight: 600;
      flex-wrap: wrap;
      width: 110px;
      gap: 5px;
  }

  .icon-porcao {
    width: 20px;
  }

  .icon-porcao svg {
    width: 20px;
    height: auto;
  }

  .content-mix {
    width: calc(100% - 30px);
  }
  
  .rende-porcoes-mix {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-top: 20px;
  }
  
  .container-porcoes::after {
      content: '';
      width: 10px;
      height: 10px;
      background: #ff7a50;
      position: absolute;
      right: -4px;
      border-radius: 0;
      transform: rotate(45deg) translate(-50%, -50%);
      z-index: 0;
      top: 56%;
  }
  
  .container-porcoes span {
      z-index: 1;
  }

  .valor-porcao {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
  }
  
  .valor-porcao b {
    font-size: 13px;
    color: #ff7a50;
  }

  .tabela-nutricional a {
    text-decoration: underline;
    font-size: 10px;
  }

  .tabela-nutricional a svg path {
    stroke: #00814e;
  }
</style>
{% if section.settings.borda-superior %}
  {% render 'borda-superior', cor: section.settings.color-borda-superior %}
{% endif %}
<div class="mix-sugeridos-section">
  <div class="header-widget custom-font light-font">
    <h3>Mixes sugeridos</h3>
  </div>
  <div class="mixes-content">
    {% for block in section.blocks %}
      {% assign product = block.settings.mix %}
      {% assign image = block.settings.image %}
      {% assign topics = block.settings.topics | newline_to_br | split: "<br />" %}
    <div class="mix-item {% unless product.available %}kit-esgotado{% endunless %}" style="background-color: {{ block.settings.color }}">
      <div class="mix-header">
        <img loading="lazy" src="{{ image | image_url: width: 340 }}"/>
        <div class="mix-title">
          <h4>{{ block.settings.title | replace: "<destaque>", "<destaque style='color: COLORHEX'>" | replace: "COLORHEX", block.settings.color_destaque }}</h4>
          <p>{{ block.settings.subtitle }}</p>
        </div>
      </div>
      <div class="mix-body">
        <div class="items-inclusos">
          <ul>
            {% for topic in topics %}
            <li>{% render 'icon-check-list' %} {{ topic }}</li>
            {% endfor %}
          </ul>
          {% if block.settings.sopa.metafields.custom.informa_o_nutricional %}
          <div class="tabela-nutricional">
            <a tabela-nutri href="{{ block.settings.sopa.metafields.custom.informa_o_nutricional.value | img_url: '800x' }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="8.937" height="8.937" viewBox="0 0 8.937 8.937">
                <g id="Icon_feather-info" data-name="Icon feather-info" transform="translate(0.5 0.5)">
                  <path id="Caminho_26" data-name="Caminho 26" d="M10.937,6.968A3.968,3.968,0,1,1,6.968,3,3.968,3.968,0,0,1,10.937,6.968Z" transform="translate(-3 -3)" fill="none" stroke="#3c3c3c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
                  <path id="Caminho_27" data-name="Caminho 27" d="M18,19.587V18" transform="translate(-14.032 -14.032)" fill="none" stroke="#3c3c3c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
                  <path id="Caminho_28" data-name="Caminho 28" d="M18,12h0" transform="translate(-14.032 -9.619)" fill="none" stroke="#3c3c3c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
                </g>
              </svg>
              Tabela Nutri.
            </a>
          </div>
          {% endif %}
          <div class="mix-price">
            <div class="price-mix-flex">
              {% if product.compare_at_price > product.price %}<old class="custom-font">{{ product.compare_at_price | money }}</old>{% endif %}
              <new class="custom-font">{{ product.price | money }}</new>
            </div>
            {% comment %}
            {% if settings.parcelas %}
            <div class="parcelamento">
              <p>{{ settings.before-content }}{{ settings.parcelas }}{{ settings.after-content }} {{  product.price | divided_by: settings.parcelas | money }}</p>
            </div>
            {% endif %}
            {% endcomment %}
          </div>
          
          <div class="action-mix">
            <div class="quantity-container">
              <div class="quantity">
                <quickshop-update-quantity class="previewCartItem-qty quickshop-quantity">
                  <button type="button" name="minus" class="minus btn-quantity"></button>
                  <input class="qtd-input" name="quantity" value="{% if product.selected_or_first_available_variant.available %}1{% else %}0{% endif %}" type="number" data-price="{{ product.selected_or_first_available_variant.price }}" data-variantId="{{ product.selected_or_first_available_variant.id }}" {% if product.selected_or_first_available_variant.available and product.selected_or_first_available_variant.inventory_quantity < 1 %}data-inventory="{{ product.selected_or_first_available_variant.inventory_quantity }}"{% else %}data-inventory="9999999"{% endif %}>
                  <button type="button" name="plus" class="plus btn-quantity"></button>
                </quickshop-update-quantity>
              </div>
            </div>
            <div class="add-to-cart-container">
              <button class="btn btn-with-icon btn-primary" add-to-cart-card>{% unless product.available %}Esgotado{% else %}Adicionar {% render 'icon-adicionar' %}{% endunless %}</button>
            </div>
          </div>
          <div class="rende-porcoes-mix">
            <div class="container-porcoes" style="--background: {{ block.settings.color }}">
              <div class="icon-porcao">
                <svg width="58" height="46" viewBox="0 0 58 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_110_5)">
                <path d="M40.0307 45.2012H17.1945C14.6807 45.2012 12.6354 43.156 12.6354 40.642V39.227C3.31187 33.6118 1.14249 23.5572 0.640666 19.3986C0.514776 18.3536 0.842884 17.3023 1.54148 16.5145C2.24056 15.726 3.2462 15.2734 4.30041 15.2734H52.9248C53.979 15.2734 54.9846 15.726 55.6837 16.5145C56.3823 17.3023 56.7104 18.3536 56.5843 19.3986C56.0827 23.5572 53.9133 33.6118 44.5898 39.227V40.642C44.5898 43.156 42.5446 45.2012 40.0307 45.2012ZM4.30041 18.8407C4.28554 18.8407 4.24638 18.8407 4.2107 18.8809C4.17625 18.9198 4.18071 18.9572 4.1822 18.9711C4.63397 22.7153 6.61847 31.9301 15.2697 36.6253L16.2025 37.1315V40.642C16.2025 41.189 16.6476 41.6341 17.1945 41.6341H40.0307C40.5776 41.6341 41.0227 41.189 41.0227 40.642V37.1315L41.9555 36.6253C50.6067 31.9301 52.5912 22.7153 53.0427 18.9711C53.0445 18.9572 53.0489 18.9198 53.0145 18.8809C52.9788 18.8407 52.9394 18.8407 52.9248 18.8407H4.30041Z" fill="#FFD88A"/>
                <path d="M33.7399 24.9196C33.6101 25.6024 33.5546 26.301 33.5782 27.0035C33.6214 28.2699 33.004 30.2863 31.1428 32.1479C29.6386 33.6522 27.716 34.5862 26.1256 34.5862C25.651 34.5862 24.9975 34.4982 24.5775 34.0784C23.5054 33.0064 24.1153 29.9049 26.5075 27.5125C28.0107 26.0093 29.933 25.0753 31.5235 25.0753C31.5666 25.0753 31.6092 25.076 31.6523 25.0773C31.7596 25.081 31.8672 25.083 31.974 25.083C32.5729 25.083 33.1633 25.0277 33.7399 24.9196ZM55.905 0.835938C55.4146 0.835938 54.9249 1.02304 54.5508 1.39674L36.1802 19.7673C35.0623 20.8852 33.5494 21.5156 31.974 21.5156C31.9073 21.5156 31.8402 21.5144 31.7733 21.5122C31.6902 21.5095 31.6072 21.508 31.5235 21.508C29.0679 21.508 26.2569 22.7183 23.9849 24.9903C20.2454 28.7296 19.3817 33.9277 22.0552 36.6009C23.1037 37.6494 24.5403 38.1535 26.1256 38.1535C28.5811 38.1535 31.3926 36.9427 33.6651 34.6702C36.0147 32.3209 37.2287 29.3954 37.1437 26.8823C37.0877 25.2356 37.7233 23.6407 38.8881 22.4757L57.2588 4.10512C58.0068 3.35721 58.0068 2.1449 57.2588 1.39674C56.8849 1.02304 56.3952 0.835938 55.905 0.835938Z" fill="#FFD88A"/>
                </g>
                <defs>
                <clipPath id="clip0_110_5">
                <rect width="58" height="46" fill="white"/>
                </clipPath>
                </defs>
                </svg>
              </div>
              <div class="content-mix">
                <span>rende {{ block.settings.porcoes }}</span>
                <span>porções</span>
              </div>
            </div>
            <div class="valor-porcao">
              <b style="--background: {{ block.settings.color }}">{{ product.price | divided_by: block.settings.porcoes | money }}</b> por refeição
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% if section.settings.borda-inferior %}
  {% render 'borda-inferior', cor: section.settings.color-borda-inferior %}
{% endif %}

{% schema %}
  {
    "name": "Mix Sugeridos",
    "class": "darkgreen-section",
    "settings": [{
      "type": "checkbox",
      "id": "borda-superior",
      "default": true,
      "label": "Ativar divisória superior"
    },
    {
      "type": "color",
      "id": "color-borda-superior",
      "default": "#fff",
      "label": "Cor da divisória superior"
    },
    {
      "type": "checkbox",
      "id": "borda-inferior",
      "default": false,
      "label": "Ativar divisória inferior"
    },
    {
      "type": "color",
      "id": "color-borda-inferior",
      "default": "#fff",
      "label": "Cor da divisória inferior"
    }],
    "blocks": [
      {
        "type": "product",
        "name": "Mix",
        "settings": [
          {
            "type": "color",
            "id": "color",
            "label": "Cor"
          },
          {
            "type": "product",
            "id": "mix",
            "label": "Mix"
          },
          {
            "type": "html",
            "id": "title",
            "label": "Título",
            "info": "Use <destaque> para destacar e <br /> para quebra de linha"
          },
          {
            "type": "color",
            "id": "color_destaque",
            "label": "Cor do destaque"
          },
          {
            "type": "html",
            "id": "subtitle",
            "label": "Subtítulo"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagem destaque"
          },
          {
            "type": "textarea",
            "id": "topics",
            "label": "Tópicos"
          },
          {
            "type": "text",
            "id": "porcoes",
            "label": "Porções"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Mix Sugeridos"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}