<style>
  .product-carousel .swiper-slide {
    width: fit-content;
    height: auto;
  }

  .product-carousel {
    padding: 0 20px 60px 0;
  }

  .product-carousel-container {
    padding: 300px 0px 60px 40px;
  }

  @media (min-width: 1200px){
    .product-carousel-container {
      padding: 300px 0px 60px;
    }
  }

  .product-carousel-container .swiper-button-prev {
    bottom: 0px;
    top: auto;
    left: calc(50% - 70px);
    border: 2px solid #8355A7;
    padding: 18px 18px;
    border-radius: 9999px;
  }

  .product-carousel-container .swiper-button-prev:after {
    font-size: 14px
  }

  .product-carousel-container .swiper-button-next {
    bottom: 0px;
    top: auto;
    right: calc(50% - 30px);
    border: 2px solid #8355A7;
    padding: 18px 18px;
    border-radius: 9999px;
  }

  .product-carousel-container .swiper-button-next:after {
    font-size: 14px
  }

  .product-carousel-title > h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 44px;
    color: #231F20;
    line-height: normal;
  }
   @media (min-width: 768px){
    .product-carousel-title > h3 {
      gap: 16px;
      flex-direction: row;
      align-items: center;
    }
   }

  @media (max-width: 767px){
    .carousel-modal-content {
      min-width: 100%;
    }
   }

  .product-carousel-title > h3 > p {
    margin: 0;
    color: #FFFFFF;
    position: relative;
    display: flex;
  }

  .product-carousel-title > h3 > p > svg {
    position: absolute;
    inset: 0;
    width: 195px;
    height: 43px;
  }

  .product-carousel-title > h3 > p > span {
    position: relative;
    margin: 8px 8px;
  }

  .product-carousel-title > h3 > span {
    max-width: 320px;
    margin: 0;
  }

  .product-carousel-modal {
    display: none;
    position: fixed;
    inset: 0px;
    z-index: 200;
    background: rgba(0, 0, 0, 0.5);
  }

  .carousel-modal-container {
    margin: auto;    
    padding: 20px;
    display: flex;
  }

  .carousel-modal-content {
    position: relative;
    max-width: 425px;
  }

  .product-carousel-modal .modal-close-button {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 24px; 
    right: 24px;
    color: white;
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;
  }

  .modal-close-button svg {
    width: 18px;
    height: 18px;
    stroke-width: 4px;
  }

  .product-carousel-modal.visible {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
</style>

<script>
  function openModal(modalId) {
    if (modalId) {
      const modal = document.getElementById(modalId);
      modal.classList.add('visible');
    }
  }

  function closeModal(modalId) {
    if (modalId) {
      const modal = document.getElementById(modalId);
      modal.classList.remove('visible');
    }
  }
</script>

<div class="section" style="--bgColor: {{ section.settings.color }}">
  {% if section.settings['borda-superior'] %}
    {% render 'borda-superior', cor: section.settings['color-borda-superior'], style: 'waves' %}
  {% endif %}
  <div class="product-carousel-container">
    <div class="product-carousel-title">
      <h3 class="font-3">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="182.582" height="40.258" viewBox="0 0 182.582 40.258">
            <path d="M172.972,0l-5.443.159-5.231.905L157.018.817l-5.256.174-5.3-.75-5.211,1.136-5.246.394L130.7.89l-5.22.9-5.248.233-5.261.07-5.3-.956-5.221.873-5.256.147-5.261.05-5.254.144-5.237.578-5.272-.252-5.264-.068-5.222.835L62.4,2.914l-5.259.007-5.246.334-5.245.322-5.277-.435-5.247.3-5.244.347-5.223.732L20.4,4.57l-5.29-.634-5.26-.049-5.213.937L0,4.966.282,8.221l.6,3.7L.752,15.681l.774,3.685.539,3.7L1.57,26.847l.387,3.714L3.765,33.8l4.743-.442,5.325.587,5.159-1.115,5.346.887,5.171-.926,5.289.28,5.16-1.054,5.2-.63,5.237-.24,5.333.806,5.149-1.163,5.216-.4,5.317.61,5.148-1.18,5.288.3,5.232-.278,5.192-.708,5.328.733,5.184-.78,5.284.275,5.138-1.256,5.251-.064,5.251-.073,5.275.184,5.2-.576,5.176-.862,5.265.094,5.222-.346,5.25-.048,5.187-.749,5.227-.3,5.22-.353,5.311.605,5.465-.541-1.448-3.7-1.413-3.5L177.636,14.3l-1.5-3.477-1.525-3.472L173.8,3.748Z" transform="translate(1.185) rotate(2)" fill="#8355a7"/>
          </svg>
          <span>MATE SUA FOME,</span>
        </p>
        <span>COM SAÚDE E SE ESBALDE NO SABOR QUE VOCÊ MERECE!</span>
      </h3>
    </div>
    <div class="swiper product-carousel">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            {% render 'product-card-holymac-2', section: section, block: block %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-prev" style="--swiper-navigation-size: 20px; --swiper-navigation-color: #8355A7"></div>
      <div class="swiper-button-next" style="--swiper-navigation-size: 20px; --swiper-navigation-color: #8355A7"></div>
    </div>
  </div>
  {% if section.settings['borda-inferior'] %}
    {% render 'borda-inferior', cor: section.settings['color-borda-inferior'] %}
  {% endif %}
</div>

{% for block in section.blocks %}
  <div id="modal-{{ block.id }}" class="product-carousel-modal">
    <div class="carousel-modal-container">
      {% if block.settings.modal_image_1 %}
        <div class="carousel-modal-content">
          <div class="modal-close-button" onclick="closeModal('modal-{{ block.id }}')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
            Fechar
          </div>
          <img
            loading="lazy"
            width="100%"
            height="100%"
            src="{{ block.settings.modal_image_1 | image_url: width: block.settings.modal_image_1.width }}"
          >
        </div>
      {% endif %}
      {% if block.settings.modal_image_2 %}
        <div class="carousel-modal-content">
          <div class="modal-close-button" onclick="closeModal('modal-{{ block.id }}')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
            Fechar
          </div>
          <img
            loading="lazy"
            width="100%"
            height="100%"
            src="{{ block.settings.modal_image_2 | image_url: width: block.settings.modal_image_2.width }}"
          >
        </div>
      {% endif %}
      {% if block.settings.modal_image_3 %}
        <div class="carousel-modal-content">
          <div class="modal-close-button" onclick="closeModal('modal-{{ block.id }}')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
            Fechar
          </div>
          <img
            loading="lazy"
            width="100%"
            height="100%"
            src="{{ block.settings.modal_image_3 | image_url: width: block.settings.modal_image_3.width }}"
          >
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% schema %}
  {
  "name": "Product Carousel",
  "settings": [{
    "type": "checkbox",
    "id": "borda-superior",
    "default": true,
    "label": "Ativar divisória superior"
  },
  {
    "type": "color",
    "id": "color-borda-superior",
    "default": "#fff",
    "label": "Cor da divisória superior"
  },
  {
    "type": "checkbox",
    "id": "borda-inferior",
    "default": false,
    "label": "Ativar divisória inferior"
  },
  {
    "type": "color",
    "id": "color-borda-inferior",
    "default": "#fff",
    "label": "Cor da divisória inferior"
  },
  {
    "type": "color",
    "id": "color",
    "label": "Cor"
  }],
  "blocks":[
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Produto"
        },
        {
          "type": "checkbox",
          "id": "show_product_image",
          "label": "Usar imagem do produto",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagem"
        },
        {
          "type": "checkbox",
          "id": "show_product_title",
          "label": "Usar título do produto",
          "default": false
        },
        {
          "id": "title",
          "type": "text",
          "label": "Titulo"
        },
        {
          "type": "checkbox",
          "id": "show_product_description",
          "label": "Usar descrição do produto",
          "default": false
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Descrição"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Cor"
        },
        {
          "type": "text",
          "id": "porcoes",
          "label": "Porções",
          "default": "2"
        },
        {
          "type": "image_picker",
          "id": "modal_image_1",
          "label": "Imagem do modal 1"
        },
        {
          "type": "image_picker",
          "id": "modal_image_2",
          "label": "Imagem do modal 2"
        },
        {
          "type": "image_picker",
          "id": "modal_image_3",
          "label": "Imagem do modal 3"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Product Carousel",
    "blocks": [
      {
        "type": "product"
      },
      {
        "type": "product"
      },
      {
        "type": "product"
      }
    ]
  }]
}
{% endschema %}
